body {
    font-family: 'Fjalla One', sans-serif;
    background-color: rgb(0,155,214);
}

.app {
    display: flex;
    flex-direction: column;
}

.hero {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-bottom: 20px;
}

.chaboo {
    align-self: center;
    transform: rotate(-5deg);
    transition: all;
    transition-duration: .1s;
    color: white;
}

.chaboo:hover {
    transform: rotate(5deg)
}

h1 {
    font-size: 200px;
    font-weight: 500;
    margin: 0
}

h2 {
    padding-top: 30px;
    font-size: 60px
}

h3 {
    font-size: 30px;
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#score {
    color: white;
    font-size: 25px;
    margin: 0;
}

button {
    font-family: 'Fjalla One', sans-serif;
    font-size: 30px;
    color: white;
    height: 80px;
    width: 150px;
    border: 0;
    border-radius: 10px;
    margin: 30px;
}

button:hover {
    /* font-weight: 900; */
    box-shadow: rgb(255, 255, 255) 0px 0px 30px;
}

#guessed {
    background-color: rgb(51, 178, 73);
}

#pass {
    background-color: red;
}

#card {
    width: 400px;
    height: 600px;
    background-color: white ;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 10px 10px 15px;
}

footer {
    display: flex;
    font-size: 30px;
    /* color: gray; */
    text-align: center;
    justify-content: center;
}

footer a {
    margin: 40px;
    position: absolute;
    bottom: 0;
    width: auto;
    padding: 0;
    text-decoration: none;
}
  
footer a:hover {
    font-weight: 600;
    cursor: default;
}

footer a:visited {
    text-decoration: none;
    color: rgb(255, 255, 255);
}