body {
    font-family: 'Fjalla One', sans-serif;
    background-color: rgb(0,155,214);
}

.app {
    display: flex;
    flex-direction: column;
}

.hero {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-bottom: 20px;
}

.chaboo {
    align-self: center;
    transform: rotate(-5deg);
    transition: all;
    transition-duration: .1s;
    color: white;
}

.chaboo:hover {
    transform: rotate(5deg)
}

h1 {
    font-size: 200px;
    font-weight: 500;
    margin: 0
}

h2 {
    padding-top: 30px;
    font-size: 60px
}

h3 {
    font-size: 30px;
    color:rgb(255, 0, 0)
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#score, #timer {
    color: white;
    font-size: 25px;
    margin: 0;
}

/* button, */
#guessed,
#pass,
#again,
#howToClose {
    font-family: 'Fjalla One', sans-serif;
    font-size: 30px;
    color: white;
    height: 80px;
    width: 150px;
    border: 0;
    border-radius: 10px;
    margin: 30px;
    transition-duration: .5s;
}

/* button:hover, */
#guessed:hover,
#pass:hover,
#again:hover {
    box-shadow: rgb(244, 254, 143) 0px 0px 40px;
    transform: scale(1.1)
}

#guessed {
    background-color: rgb(51, 178, 73);
}

#pass {
    background-color: red;
}

#card {
    width: 400px;
    height: 600px;
    background-color: rgb(250, 250, 250) ;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 10px 10px 15px;
    transition-duration: .25s;
}

#card:hover {
    transform: rotate(-1deg) scale(1.05);
    /* transform: scale(1.01); */
}

footer {
    display: flex;
    font-size: 30px;
    text-align: center;
    justify-content: center;
}

footer a {
    margin: 40px;
    position: absolute;
    bottom: 0;
    width: auto;
    padding: 0;
    text-decoration: none;
}
  
footer a:hover {
    font-weight: 600;
    cursor: default;
}

footer a:visited {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.modal {
    text-align: center;
    justify-items: center;
    position: fixed;
    width: 600px;
    height: 400px;
    z-index: 1060;
    /* top: 50%; */
    /* left: 50%; */
    font-size: 30px;
    padding-top: 40px;
    background-color: rgb(250, 250, 250) ;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }

  #again {
    background-color: rgb(51, 178, 73);
  }

  #howto {
    background-color: rgba(0, 0, 0, 0);
    font-family: 'Fjalla One', sans-serif;
    font-size: 30px;
    color: white;
    height: 80px;
    width: 150px;
    border: 0;
    border-radius: 10px;
    margin: 30px;
    transition-duration: .5s;
  }

  .howToModal {
    text-align: center;
    justify-items: center;
    position: fixed;
    width: 1000px;
    height: 400px;
    z-index: 1060;
    font-size: 30px;
    padding-top: 40px;
    background-color: rgb(250, 250, 250) ;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }

#howToClose {
    color: black
}