body {
  font-family: 'Fjalla One', sans-serif;
  background-color: rgb(0, 155, 214);
}

.app {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-height: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

.hero {
  display: flex;
  flex-direction: column;
  margin-top: 6vh;
  margin-bottom: 6vh;
}

.chaboo {
  align-self: center;
  transform: rotate(-5deg);
  transition: all;
  transition-duration: 0.1s;
  color: white;
}

.chaboo:hover {
  transform: rotate(5deg);
  cursor: default;
}

h1 {
  font-size: 15dvh;
  font-weight: 500;
  margin: 0;
  padding-top: 5vh;
}

h2 {
  padding-top: 0.5em;
  font-size: 5vmin;
}

h3 {
  font-size: 3vmin;
  color: rgb(255, 0, 0);
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

#gameHeader {
  display: flex;
  flex-direction: row;
}

#score,
#timer {
  color: white;
  font-size: 3dvh;
  margin: 0;
}

#start,
#howto,
#howToClose,
#again {
  font-family: 'Fjalla One', sans-serif;
  font-size: 3vmin;
  color: white;
  height: 7vh;
  width: 14vw;
  border-radius: 10px;
  margin: 30px;
  /* transition-duration: 0.5s; */
}

#start:hover,
#howto:hover,
#howToClose:hover,
#again:hover {
  box-shadow: rgb(249, 249, 249) 0px 0px 20px;
  /* transform: scale(1.1); */
}

#start {
  background-color: rgb(0, 119, 182);
}

#howto {
  background-color: rgb(0, 119, 182);
}

#howToClose {
  background-color: red;
}

#again {
  background-color: rgb(51, 178, 73);
}

#card {
  width: 40vmin;
  height: 60vh;
  background-color: rgb(250, 250, 250);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition-duration: 0.25s;
  margin: 40px;
  text-align: center;
  padding: 0.5em;
}

/* #card:hover {
  transform: rotate(-1deg) scale(1.05);
} */

.swipe {
  justify-content: center;
}

.modal {
  text-align: center;
  justify-items: center;
  position: fixed;
  width: 40vw;
  height: 50vh;
  z-index: 1060;
  margin-top: 17.5vh;
  padding: 3dvh;
  background-color: rgb(250, 250, 250);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  color: rgb(65, 65, 65);
  font-size: 24px;
}

.modal p {
  font-size: 2.75vmin;
}

.cardLayout {
  width: 90%;
  max-width: 260px;
  height: 300px;
}

#timeScore {
  height: 15vh;
  width: 150px;
  border: 0;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.startHow {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.swipe {
  position: absolute;
  translate: -17.5%;
  overflow: hidden;
}

@media (max-width: 450px) {
  h1 {
    font-size: 7em;
    padding-top: 3vh;
  }
  h2 {
    font-size: 3em;
  }
  h3 {
    font-size: 2em;
  }

  .modal {
    width: 80vw;
    height: 70vh;
    padding: 20px;
  }
  .modal p {
    font-size: 0.9em;
  }
  .modal h2 {
    font-size: 2em;
  }
  .swipe {
    translate: -12.5%;
  }

  #card {
    width: 80vw;
    height: 60vh;
  }
  #start,
  #howto,
  #howToClose,
  #again {
    font-size: 8vmin;
    height: 10vh;
    width: 50vw;
    border-radius: 10px;
    margin: 30px;
  }
}
