body {
  font-family: 'Fjalla One', sans-serif;
  background-color: rgb(0, 155, 214);
}

.app {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-height: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

.hero {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
}

.chaboo {
  align-self: center;
  transform: rotate(-5deg);
  transition: all;
  transition-duration: 0.1s;
  color: white;
}

.chaboo:hover {
  transform: rotate(5deg);
  cursor: default;
}

h1 {
  font-size: 5em;
  font-weight: 500;
  margin: 0;
}

h2 {
  padding-top: 20px;
  font-size: 55px;
}

h3 {
  font-size: 30px;
  color: rgb(255, 0, 0);
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

#score,
#timer {
  color: white;
  font-size: 25px;
  margin: 0;
}

#start,
#howto,
#howToClose,
#again {
  font-family: 'Fjalla One', sans-serif;
  font-size: 24px;
  color: white;
  height: 60px;
  width: 150px;
  border: 0;
  border-radius: 10px;
  margin: 30px;
  transition-duration: 0.5s;
}

#start:hover,
#howto:hover,
#howToClose:hover,
#again:hover {
  box-shadow: rgb(249, 249, 249) 0px 0px 20px;
  transform: scale(1.1);
}

#start {
  background-color: rgb(0, 119, 182);
}

#howto {
  background-color: rgb(0, 119, 182);
}

#howToClose {
    background-color: red;
  }

#again {
  background-color: rgb(51, 178, 73);
}

#card {
  width: 400px;
  height: 600px;
  background-color: rgb(250, 250, 250);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition-duration: 0.25s;
  margin: 40px;
  text-align: center;
}

#card:hover {
  transform: rotate(-1deg) scale(1.05);
}

.modal {
  text-align: center;
  justify-items: center;
  position: fixed;
  width: 450px;
  height: 750px;
  z-index: 1060;
  font-size: 30px;
  padding-top: 40px;
  background-color: rgb(250, 250, 250);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.howToModal {
  text-align: center;
  justify-items: center;
  position: fixed;
  width: 600px;
  height: 450px;
  z-index: 1060;
  font-size: 30px;
  padding-top: 40px;
  background-color: rgb(250, 250, 250);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  color: rgb(65, 65, 65);
  font-size: 24px;
}

.cardLayout {
  /* display: flex;
    flex-direction: row-reverse;
    align-items: center; */

  width: 90%;
  max-width: 260px;
  height: 300px;
}

#timeScore {
  height: 80px;
  width: 150px;
  border: 0;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.startHow {
  display: flex;
  flex-direction: column;
}

.swipe {
  position: absolute;
  translate: -50%;
  overflow: hidden;
}

@media (max-width: 450px) {
  #card {
    width: 80vw;
    height: 60vh;
  }
  h2 {
    font-size: 2em;
  }
  h3 {
    font-size: 1.5em;
  }
  .modal {
    width: 90vw;
    height: 75vh;
  }
  .howToModal {
    width: 80vw;
    height: 70vh;
    padding: 20px;
  }
  .howToModal p {
    font-size: 0.85em;
  }
}
