* {
  padding: 0;
  margin: 0;
  background-color: rgb(18, 30, 53);
}

#sidebar {
  position: fixed;
  height: 100vw;
}

.sidecontent {
  margin-top: 10vw;
  margin-left: 10vw;
  margin-bottom: 10vw;
}

#content {
  margin-left: 45vw;
  padding-top: 10vw;
  padding-left: 5vw;
  padding-right: 10vw;
  background-color: rgb(31, 31, 31);
}

.intro {
  font-weight: 200 !important;
}

.socials {
  position: fixed;
  bottom: 50px;
}

.socialsicon {
  transition-duration: 0.25s;
}

.socialsicon:hover {
  color: #dedee5 !important;
  scale: 110%;
}

.mystory,
.card {
  font-weight: 200 !important;
}

.card {
  display: flex;
  flex-direction: row;
}

.cardcard {
  margin: 10px;
  /* border: 0px; */
  /* border-radius: 10px; */
  transition-duration: 0.2s;
}

.cardcard:hover {
  /* border: 100px; */
  /* outline: 1px ridge white; */
  /* border-color: white; */
  scale: 101%;
  /* box-shadow: 0px 0px 8px 2px  rgb(85, 162, 250); */
  box-shadow: 0px 0px 8px 2px rgb(47, 60, 89);
}

.cardcard:hover .employer {
  color: rgb(85, 162, 250) !important;
}

.era {
  flex: 1;
}

.detail {
  flex: 3;
}
